<extend name="Base/common" />


<block name="body">

  <!-- 主体 -->
    <div class="container">
	<div class="row">
		<div class="span12">
			
	
	 <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">投票须知</h3>
        </div>
        <div class="panel-body">
          Panel content
          	<div class="alert alert-warning">Warning! Best check yo self, you're not looking too good.</div>
          	<div class="alert alert-success"> Well done! You successfully read this important alert message.</div>
			<div class="alert alert-info">Heads up! This alert needs your attention, but it's not super important.</div>
          
        </div>
      </div>
      
            <h1 style="text-align: center;font-family:'微软雅黑'">入选教师</h1>
      <hr class="featurette-divider">


<!-- begin row -->
	<div class="row">
		
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <img data-src="holder.js/150x150" alt="Generic placeholder thumbnail">
            <div class="caption">
            	<p style="text-align: center"> <strong>吴建平</strong>
            		<button type="button" class="btn btn-danger  btn-xs">详情</button>
            		
            	</p>
              <p>计算机科学技术系 </p>
              <p>
              	<a href="#" class="btn btn-primary" role="button">投票！</a> 
              	<a href="#" class="btn btn-default" role="button">我要说</a>
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <img data-src="holder.js/150x150" alt="Generic placeholder thumbnail">
            <div class="caption">
            	<p> <strong>吴建平</strong>
            		<span class="label label-danger">详情</span>
            	</p>
              <p>计算机科学技术系 </p>
              <p>
              	<a href="#" class="btn btn-primary" role="button">投票！</a> 
              	<a href="#" class="btn btn-default" role="button">我要说</a>
              </p>
            </div>
          </div>
        </div>
        
       <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <img data-src="holder.js/150x150" alt="Generic placeholder thumbnail">
            <div class="caption">
            	<p> <strong>吴建平</strong>
            		<span class="label label-danger">详情</span>
            	</p>
              <p>计算机科学技术系 </p>
              <p>
              	<a href="#" class="btn btn-primary" role="button">投票！</a> 
              	<a href="#" class="btn btn-default" role="button">我要说</a>
              </p>
            </div>
          </div>
        </div>

	
       <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <img data-src="holder.js/150x150" alt="Generic placeholder thumbnail">
            <div class="caption">
            	<p> <strong>吴建平</strong>
            		<span class="label label-danger">详情</span>
            	</p>
              <p>计算机科学技术系 </p>
              <p>
              	<a href="#" class="btn btn-primary" role="button">投票！</a> 
              	<a href="#" class="btn btn-default" role="button">我要说</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <img data-src="holder.js/150x150" alt="Generic placeholder thumbnail">
            <div class="caption">
            	<p> <strong>吴建平</strong>
            		<span class="label label-danger">详情</span>
            	</p>
              <p>计算机科学技术系 </p>
              <p>
              	<a href="#" class="btn btn-primary" role="button">投票！</a> 
              	<a href="#" class="btn btn-default" role="button">我要说</a>
              </p>
            </div>
          </div>
        </div>

	
       <div class="col-sm-3 col-md-2">
          <div class="thumbnail">
            <img data-src="holder.js/150x150" alt="Generic placeholder thumbnail">
            <div class="caption">
            	<p> <strong>吴建平</strong>
            		<span class="label label-danger">详情</span>
            	</p>
              <p>计算机科学技术系 </p>
              <p>
              	<a href="#" class="btn btn-primary" role="button">投票！</a> 
              	<a href="#" class="btn btn-default" role="button">我要说</a>
              </p>
            </div>
          </div>
        </div>
   </div>

<!-- end row -->



		</div>
</div>

</block>

